.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.btn {
  border: 1px solid #dedede;
  text-transform: uppercase;
  border-radius: 0.4rem;
  padding: 1rem;
  display: block;
  margin: auto;
  color: #606060;
  font-weight: 800;
  font-size: 1.1rem;
  background-color: transparent;
  cursor: pointer; }
  .btn:hover {
    background-color: #00a99d;
    color: #f9f9f9; }
  .btn--color {
    background-color: #00a99d;
    color: #f9f9f9; }
  .btn-dark {
    background-color: #383838 !important; }
  .btn-center {
    position: absolute;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00a99d;
    color: #f9f9f9; }
    .btn-center-modf {
      top: 65%;
      width: 12rem; }
  .btn-top {
    position: absolute;
    top: auto;
    width: 12rem; }
  .btn-bottom {
    width: 12rem;
    top: 85%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Arial", sans-serif; }

.header {
  max-width: 100%;
  background-color: #f9f9f9;
  border-bottom: 0.2rem solid #dedede; }
  .header__center {
    position: relative;
    height: 9.8rem;
    max-width: 60%;
    margin: auto;
    z-index: 100; }
  .header--logo {
    display: inline-block;
    position: absolute;
    top: 25%; }
  .header::after {
    content: "";
    display: table;
    clear: both; }

.menu {
  position: absolute;
  right: 0;
  transform: translate(0, -50%);
  top: 50%; }

.horizontal {
  list-style: none; }
  .horizontal--li {
    float: left; }
    .horizontal--li:nth-child(2):hover .vertical {
      visibility: visible; }
  .horizontal--a {
    text-decoration: none;
    text-transform: uppercase;
    color: #999;
    padding: 0.8rem 1rem;
    font-size: 1.3rem;
    border-radius: 0.4rem;
    font-weight: 700; }
    .horizontal--a:hover {
      background-color: #00a99d;
      color: #f9f9f9; }
    .horizontal--a-highlighted {
      background-color: #00a99d;
      color: #f9f9f9; }

.vertical {
  position: absolute;
  background-color: #f9f9f9;
  list-style: none;
  top: 2.6rem;
  visibility: hidden; }
  .vertical--li {
    position: relative; }
    .vertical--li:nth-child(6):hover .vertical-second {
      visibility: visible; }
  .vertical--a {
    text-decoration: none;
    text-transform: uppercase;
    color: #999;
    padding: 0.7rem 1rem;
    font-size: 1.4rem;
    border-radius: 0.4rem;
    background-color: unset;
    line-height: 2; }
    .vertical--a:hover {
      background-color: #dedede;
      color: #f9f9f9; }
  .vertical-second {
    visibility: hidden;
    position: absolute;
    left: 14.5rem;
    width: 14.6rem;
    list-style: none;
    top: 0; }
    .vertical-second li:hover a {
      background-color: #00a99d;
      color: #f9f9f9; }

.row::after {
  content: "";
  clear: both;
  display: table;
  border: 1px solid black; }

[class*="col-"] {
  float: left;
  padding: 15px; }

.col-3 {
  width: 33.33%; }

.col-4 {
  width: 25%;
  position: relative; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  line-height: 1.7; }

body {
  font-family: "lato",sans-serif; }

.section {
  max-width: 100%;
  margin: auto;
  padding-bottom: 5rem; }
  .section--bg {
    background-color: #383838; }
  .section__centered {
    position: relative;
    max-width: 60%;
    margin: auto; }
  .section__main {
    margin: auto;
    height: 14rem; }
    .section__main--top-icon {
      width: 4rem;
      height: 4rem;
      border-radius: 0.2rem;
      transform: rotate(45deg);
      background-color: #00a99d;
      position: relative;
      bottom: 2rem;
      margin: auto; }
      .section__main--top-icon img {
        position: absolute;
        transform: translate(-50%, -33%);
        top: 17%;
        left: 50%;
        rotate: -45deg; }
    .section__main span {
      color: #00a99d; }
    .section__main-h1 {
      color: #f9f9f9 !important; }
      .section__main-h1-blue {
        color: #00a99d !important; }
        .section__main-h1-blue span {
          color: #606060; }
    .section__main .line {
      position: relative; }
      .section__main .line-squer-left {
        position: absolute;
        width: 3rem;
        height: 3rem;
        border-radius: 0.4rem;
        background-color: #606060;
        z-index: 70;
        top: 3.7rem; }
        .section__main .line-squer-left::before {
          content: "";
          width: 1.5rem;
          height: 1.5rem;
          background-color: white;
          position: absolute;
          clip-path: polygon(100% 0, 0 53%, 100% 100%);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 70; }
      .section__main .line-squer-right {
        position: absolute;
        width: 3rem;
        height: 3rem;
        border-radius: 0.4rem;
        background-color: #00a99d;
        z-index: 70;
        top: 3.7rem;
        right: 0; }
        .section__main .line-squer-right::after {
          content: "";
          width: 1.5rem;
          height: 1.5rem;
          background-color: white;
          position: absolute;
          clip-path: polygon(0 0, 100% 53%, 0 100%);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 70; }
      .section__main .line::before {
        content: "";
        position: absolute;
        top: 5rem;
        width: 28rem;
        border-top: 0.16rem solid #dedede;
        border-bottom: 0.16rem solid #dedede;
        height: 0.5rem;
        right: 0; }
      .section__main .line::after {
        content: "";
        position: absolute;
        top: 5rem;
        width: 28rem;
        border-top: 0.16rem solid #dedede;
        border-bottom: 0.16rem solid #dedede;
        height: 0.5rem;
        left: 0; }
    .section__main h1 {
      font-size: 2.8rem;
      text-transform: uppercase;
      color: #383838;
      text-align: center;
      position: absolute;
      transform: translate(-50%, 0%);
      top: 30px;
      left: 50%; }
      .section__main h1::before {
        content: "";
        display: inline-block;
        background-image: url(../../img/left-shape.png);
        background-size: cover;
        width: 3.5rem;
        height: 2rem;
        position: relative;
        right: 1.9rem;
        bottom: 0.2rem; }
      .section__main h1::after {
        content: "";
        display: inline-block;
        background-image: url(../../img/right-shape.png);
        background-size: cover;
        width: 3.5rem;
        height: 2rem;
        position: relative;
        left: 1.9rem;
        bottom: 0.2rem; }
    .section__main-p {
      top: 4rem !important; }
    .section__main p {
      color: #999;
      font-weight: 700;
      font-size: 1.3rem;
      position: relative;
      top: 8rem;
      display: block;
      width: 60%;
      margin: auto;
      text-align: center; }

.section__one--icon:nth-child(2) span {
  background-color: #00a99d; }
  .section__one--icon:nth-child(2) span ul li {
    background-color: black; }

.section__one--icon:hover {
  background-color: #f9f9f9; }

.section__one--icon span {
  display: block;
  position: relative;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-color: #383838;
  margin: auto; }
  .section__one--icon span img {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.section__one h3 {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 1.5rem; }

.section__one p {
  color: #999;
  font-weight: 700;
  font-size: 1.3rem;
  text-align: center;
  padding-bottom: 2rem; }

.section__two ul {
  list-style: none;
  text-align: center; }
  .section__two ul li span {
    font-size: 3rem;
    color: #f9f9f9; }
  .section__two ul li img {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    margin: auto; }
  .section__two ul li p {
    display: inline-block;
    color: #999;
    font-weight: 700;
    font-size: 1.3rem;
    text-align: center;
    position: relative;
    top: 1rem; }
    .section__two ul li p::before {
      content: "";
      display: inline-block;
      border-bottom: 1px solid #606060;
      position: absolute;
      width: 8.5rem;
      right: 7.5rem;
      bottom: 3.7rem; }
    .section__two ul li p::after {
      content: "";
      display: inline-block;
      border-bottom: 1px solid #606060;
      position: absolute;
      width: 8.5rem;
      left: 7.5rem;
      bottom: 3.7rem; }

.section__three {
  position: relative; }
  .section__three ul {
    list-style: none;
    text-align: center;
    border: 1px solid #dedede;
    border-radius: 0.4rem; }
    .section__three ul .li-bg {
      background-color: #00a99d !important;
      position: relative; }
      .section__three ul .li-bg > div {
        display: inline-flex;
        -ms-wrap-flow: nowrap;
        position: relative;
        top: 10%; }
    .section__three ul li:nth-child(1) {
      height: 20rem;
      background-color: #606060;
      border-radius: 0.4rem 0.4rem 0 0; }
      .section__three ul li:nth-child(1) span {
        width: 2rem;
        height: 2rem;
        border-radius: 0.2rem;
        transform: rotate(45deg);
        background-color: white;
        display: inline-block;
        position: relative;
        margin-right: 0.4rem;
        margin-top: 60%; }
        .section__three ul li:nth-child(1) span img {
          transform: rotate(-45deg);
          width: 1.2rem;
          height: 1.1rem;
          margin: auto;
          display: block;
          position: absolute;
          top: 20%;
          left: 24%; }
    .section__three ul li:nth-child(2) {
      padding-bottom: 1rem; }
      .section__three ul li:nth-child(2) p {
        display: block;
        margin: auto;
        color: #383838;
        font-weight: 700;
        font-size: 1.3rem;
        text-align: center;
        padding-top: 3rem; }
      .section__three ul li:nth-child(2) img {
        display: inline-block; }
      .section__three ul li:nth-child(2) span {
        color: black; }
    .section__three ul a {
      display: block;
      margin: auto;
      color: #606060;
      text-decoration: none;
      position: relative; }
      .section__three ul a::before {
        content: "";
        display: inline-block;
        background-image: url(../../img/massage.png);
        background-size: cover;
        width: 1.3rem;
        height: 1.1rem;
        top: 0.3rem;
        position: relative;
        right: 1rem; }
      .section__three ul a:hover {
        color: #00a99d; }
      .section__three ul a span {
        display: block;
        margin: auto;
        position: relative; }
        .section__three ul a span::before {
          content: "";
          display: inline-block;
          background-image: url(../../img/phone.png);
          background-size: cover;
          width: 1.2rem;
          height: 1.2rem;
          top: 0.3rem;
          position: relative;
          right: 1rem; }

.span-color {
  background-color: #383838 !important; }

.section__four ul {
  list-style: none;
  text-align: center;
  border: 1px solid #dedede;
  border-radius: 0.4rem;
  height: 35rem; }
  .section__four ul li {
    background-color: transparent !important;
    padding: 0.5rem 0;
    background-color: #606060;
    border-radius: 0.4rem 0.4rem 0 0;
    position: relative; }

.number {
  display: inline-block;
  margin-top: 3rem;
  font-size: 5rem;
  font-weight: 700;
  position: relative; }
  .number::before {
    content: "$";
    font-size: 1.4rem;
    display: inline-block;
    position: relative;
    height: 1rem; }
  .number::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 1rem;
    height: 1rem;
    background-color: #383838;
    transform: rotate(45deg);
    border-radius: 0.2rem;
    right: 8rem; }

.monthly {
  display: inline-block;
  font-size: 1.4rem;
  position: relative; }
  .monthly::before {
    content: "99";
    position: absolute;
    bottom: 3rem;
    right: 5rem; }

.section__five {
  text-align: center;
  position: relative; }
  .section__five .header--logo {
    position: unset;
    margin-top: 4rem; }

.icons-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 6rem; }
  .icons-row span:nth-child(2) {
    background-color: #00a99d; }
  .icons-row span {
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid #606060;
    border-radius: 0.4rem;
    float: left;
    position: relative;
    margin: 0 0.2rem; }
    .icons-row span:hover {
      background-color: #00a99d; }
    .icons-row span img {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%; }

footer {
  position: relative; }

.footer-map {
  position: relative;
  padding-top: 6rem; }

.footer-img {
  width: 100%;
  background-size: cover; }

input[type=text] {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  margin: 1rem auto;
  width: 100%; }

input[type=submit] {
  background-color: #00a99d;
  color: #f9f9f9;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin: 0.5rem 0; }
  input[type=submit]:hover {
    background-color: #03bdb0; }

textarea {
  width: 100%; }

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  width: 17%;
  position: absolute;
  left: 20%;
  top: 30%; }

form {
  display: block;
  width: 90%;
  margin: auto; }

footer p {
  display: inline-block;
  color: #f9f9f9;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0%; }
