.header {
    max-width: 100%;
    background-color: $grey-light;
    border-bottom: 0.2rem solid $grey-medium;


   &__center {  
       position: relative;                  // header center
       height: 9.8rem;
       max-width: 60%;
       margin: auto;
       z-index: 100;
    }

    &--logo {
        display: inline-block;
       position: absolute;
       top: 25%;
    }
    @include clearfix;
}

.menu {
    position: absolute;
    right: 0;
    transform: translate(0,-50%);
    top: 50%;

}

.horizontal {
    list-style: none;
    
    &--li {

        float: left;   

       &:nth-child(2):hover  .vertical{
            visibility: visible;
       }
    }

    &--a {
        text-decoration: none;
        text-transform: uppercase;
        color: $grey-text;
        padding: 0.8rem 1rem;
        font-size: 1.3rem;
        border-radius: 0.4rem;
        font-weight: 700;
        &:hover {
           @include light;
        }
        &-highlighted {
            background-color: $blue-light;
            color: $grey-light;
       }
        
        }
    
    
}
///////////////////////////////////________________VERTICAL_________________////////////////////////////
.vertical {
    position: absolute;
    background-color: $grey-light;
    list-style: none;
    top: 2.6rem;
    visibility: hidden;
    
    &--li {
     position: relative;


     &:nth-child(6):hover .vertical-second{
        visibility: visible;
     }
    }

    &--a {
        text-decoration: none;
        text-transform: uppercase;
        color: $grey-text;
        padding: 0.7rem 1rem;
        font-size: 1.4rem;
        border-radius: 0.4rem;
        background-color: unset;
        line-height: 2;

        &:hover {
            background-color: $grey-medium;
            color: $grey-light;
        }
    }

    ////////////////////////////_____VERTICAL-SECOND______________/////////////////////////////////////
    &-second {
        visibility: hidden;
        position: absolute;
        left: 14.5rem;
        width: 14.6rem;
        list-style: none;
        top: 0;
        
        & li:hover a {
            background-color: $blue-light;
            color: $grey-light;
        }
    }
}