.section {
    max-width: 100%;
    margin: auto;
    // width: auto;
    padding-bottom: 5rem;
   

    &--bg {
        background-color: $grey-section;
    }
    &__centered {
        position: relative;
        max-width: 60%;
        margin: auto;
    }

    &__main {
        margin: auto;
        height: 14rem;
      
        &--top-icon {
            width: 4rem;
            height: 4rem;
            border-radius: 0.2rem;
            transform: rotate(45deg);
            background-color: $blue-light;
            position: relative;
            bottom: 2rem;
            margin: auto;

            & img {
                position: absolute;
                transform: translate(-50%, -33%);
                top: 17%;
                left: 50%;
                rotate: -45deg;
            }
        }
        & span {
         color: $blue-light;
        }

        &-h1 {
           color: $grey-light !important;

           &-blue {
               color: $blue-light !important;

               & span {
                   color: $grey-dark;
               }
           }
        }

        & .line {
            position: relative;
            

            &-squer-left {
                position: absolute;
                width: 3rem;
                height: 3rem;
                border-radius: 0.4rem;
                background-color: $grey-dark;
                z-index: 70;
                top: 3.7rem;

                &::before {
                    content: "";
                    width: 1.5rem;
                    height: 1.5rem;
                    background-color: white;
                    position: absolute;
                    clip-path: polygon(100% 0, 0 53%, 100% 100%);
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    z-index: 70;
                }
                
            }
            &-squer-right {
                position: absolute;
                width: 3rem;
                height: 3rem;
                border-radius: 0.4rem;
                background-color: $blue-light;
                z-index: 70;
                top: 3.7rem;
                right: 0;

                &::after {
                    content: "";
                    width: 1.5rem;
                    height: 1.5rem;
                    background-color: white;
                    position: absolute;
                    clip-path: polygon(0 0, 100% 53%, 0 100%);
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    z-index: 70;
                }
                
            }
            &::before {
                content: "";
                position: absolute;
                top: 5rem;
                width: 28rem;
                border-top: 0.16rem solid $grey-medium;
                border-bottom: 0.16rem solid $grey-medium;
                height: 0.5rem;
                right: 0;

                
            }
            
            &::after {
                content: "";
                position: absolute;
                top: 5rem;
                width: 28rem;
                border-top: 0.16rem solid $grey-medium;
                border-bottom: 0.16rem solid $grey-medium;
                height: 0.5rem;
                left: 0;
            }
        }
        & h1 {
          @include h1;
          position: absolute;
          transform: translate(-50%, 0%);
          top: 30px;
          left: 50%;

          &::before {
              content: "";
              display: inline-block;
              background-image: url(../../img/left-shape.png);
              background-size: cover;
              width: 3.5rem;
              height: 2rem;
              position: relative;
              right: 1.9rem;
              bottom: 0.2rem;
            }
            &::after {
                content: "";
                display: inline-block;
                background-image: url(../../img/right-shape.png);
                background-size: cover;
                width: 3.5rem;
                height: 2rem;
                position: relative;
                left: 1.9rem;
                bottom: 0.2rem;
            }
        }

        &-p {
            top: 4rem !important;
        }
        & p {
            color: #999;
            font-weight: 700;
            font-size: 1.3rem;
            position: relative;
            top: 8rem;
            display: block;
            width: 60%;
            margin: auto;
            text-align: center;
            
        }     
    }
  }  // section_main end