@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
.clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absolute {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

@mixin light {
    background-color: $blue-light;
    color: $grey-light;
}

@mixin squer {
    width: 6rem;
    height: 6rem;
    border-radius: 0.2rem;
    transform: rotate(45deg);
    background-color: $blue-light;
    
}



@mixin h1 {
    font-size: 2.8rem;
    text-transform: uppercase;
    color: #383838;
    text-align: center;
    
}

@mixin h3 {
    font-size: 2.8rem;
    text-transform: uppercase;
    color: #383838;
    
}