@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin highlighted_li {
    background-color: $blue-light;
}

@mixin highlighted_a {
    color: $brown-light;
}

