// // GRID
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 6rem;



//COLORS
$brown-medium: #dedede;
$brown-light: #f9f9f9;
$brown-dark: #606060;
$brown-hover:#e4e4e4;
$brown-text:#999;
$blue-light:#00a99d;
$grey-section:#383838;


