// // GRID
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 6rem;



//COLORS
$grey-medium: #dedede;
$grey-light: #f9f9f9;
$grey-dark: #606060;
$grey-hover:#e4e4e4;
$grey-text:#999;
$blue-light:#00a99d;
$grey-section:#383838;



